/***********************************************
 * General page styling
 **********************************************/
header {
  text-align: center;
  margin: 10px;
}

/***********************************************
 * Deck of cards styling
 **********************************************/
.deck {
  display: flex;
}

.card {
  flex: 1;
}
